.card-img-top.lazyload,
.card-img-top.lazyloading {
	height: 0px;
	opacity: 0;
}

.card-img-top.lazyloaded {
	opacity: 1;
	transition: opacity 1s ease-in;
}

/* Load */
.card-img-top.lazyload~.placeholder .spinner-grow.text-primary.placeholder {
	display: none;
}

/* Loading */
.card-img-top.lazyloading~.placeholder .spinner-grow.text-secondary.placeholder {
	display: none;
}

/* Loaded */
.card-img-top.lazyloaded~.placeholder,
.card-img-top.lazyloaded~.placeholder .placeholder {
	display: none;
}